- name: Install pycurl (needed by Ansible)
  apt: pkg=python-pycurl state=installed

- name: add ansible repository
  apt_repository: repo=ppa:rquillo/ansible

- name: ensure apt cache is up to date
  apt: update_cache=yes

- name: Install dependencies (system)
  apt: pkg={{ item }} state=installed
  with_items:
      - ansible
      - git
      - python3.3
      - python3-pip
      - unzip # for NLTK data.
      - bzr # For getting the latest python-dateutil.
      - postgresql-server-dev-9.1 # For psycopg.

- name: Clone git repository
  git: repo={{ git_repo }} dest={{ repo_path }} force=yes accept_hostkey=yes

- name: Install dependencies (pip)
  pip: name={{ item }} executable=pip3
  with_items:
      - virtualenv
      - cython

- name: Install scipy dependencies
  command: sudo apt-get -y build-dep python3-scipy

- name: Install mwlib dependencies
  apt: pkg={{ item }} state=installed
  with_items:
      - libevent-dev
      - re2c

- name: Install lxml dependencies
  apt: pkg={{ item }} state=installed
  with_items:
      - libxml2-dev
      - libxslt1-dev
      - python-dev
      - lib32z1-dev

- name: Create virtualenv and install dependencies (app)
  pip: requirements={{ repo_path }}/requirements.txt virtualenv={{ venv_path }} virtualenv_command=virtualenv-3.3 virtualenv_site_packages=no

- name: Download NLTK data
  copy: src=nltk_data.tar.gz dest=/usr/share/nltk_data.tar.gz

- name: Extract NLTK data
  command: tar -zxvf nltk_data.tar.gz chdir=/usr/share/ creates=/usr/share/nltk_data
