- name: ensure apt cache is up to date
  apt: update_cache=yes

- name: install knowledge dependencies
  apt: pkg={{ item }} state=installed
  with_items:
      - unzip
      - openjdk-7-jre # for NER
      - bzip2

- name: download jena
  get_url: url={{ jena_url }} dest=/srv/jena.tar.gz

- name: download fuseki
  get_url: url={{ fuseki_url }} dest=/srv/fuseki.tar.gz

- name: create jena directory
  file: path=/srv/jena state=directory

- name: create fuseki directory
  file: path=/srv/fuseki state=directory

- name: extract jena
  command: tar -xzvf jena.tar.gz -C /srv/jena --strip 1 chdir=/srv/

- name: extract fuseki
  command: tar -xzvf fuseki.tar.gz -C /srv/fuseki --strip 1 chdir=/srv/

- name: copy fuseki init.d script
  template: src=fuseki-init dest=/etc/init.d/fuseki mode=755

- name: create knowledge directory
  file: path={{ knowledge_path }} state=directory

- name: create knowledge db directory
  file: path={{ knowledge_db }} state=directory

- name: download dbpedia datasets
  dbpedia: name={{ item }} dest={{ knowledge_path }}
  with_items:
    - labels
    - short_abstracts
    - long_abstracts
    - images
    - redirects
    - geo_coordinates
    - persondata
    - disambiguations
  register: datasets

- name: extract downloaded datasets
  shell: bunzip2 -k {{ item.file }}
  when: item.changed
  with_items: datasets.results
  notify:
    - update knowledge

- name: ensure fuseki is running
  service: name=fuseki enabled=yes state=started

- name: download stanford ner
  get_url: url={{ ner_url }} dest=/srv/ner.zip

- name: extract ner
  shell: unzip -o ner.zip -d /tmp && mv /tmp/stanford-ner-* /srv/ner chdir=/srv/ creates=/srv/ner

- name: copy ner init.d script
  copy: src=ner-init dest=/etc/init.d/ner mode=755
  notify:
      - restart ner

- name: ensure ner is running
  service: name=ner enabled=yes state=started
