- name: load default sources
  command: chdir={{ app_path }} {{ venv_path }}/bin/python manage.py create:sources

- name: copy ponder script
  template: src=ponder.sh dest=/var/ponder.sh mode=0751

- name: create ponder cron job
  cron: name='ponder' special_time=hourly job=/var/ponder.sh cron_file=ponder user=root state=present
