- name: restart fuseki
  service: name=fuseki state=restarted

- name: restart ner
  service: name=ner state=restarted

- name: update knowledge
  shell: /srv/jena/bin/tdbloader2 --loc /tmp/knodb {{ knowledge_path }}*.ttl
  notify: move knowledge

- name: move knowledge
  command: rsync -rau --delete --remove-source-files /tmp/knodb/ {{ knowledge_db }}
  notify: restart fuseki
