- name: get s3 bucket name for environment
  sudo: no
  local_action:
    module: s3bucket
    name: '{{ app_name }}-{{ env_name }}-bucket'
    state: present
  register: bucket

# Copy the config files (app_config.py & celery_config.py) to the remote instance.
- name: copy app config for enviroment
  template: src=app_config.py dest={{ app_path }}/argos/conf/app.py mode=0644

- name: copy celery config for enviroment
  template: src=celery_config.py dest={{ app_path }}/argos/conf/celery.py mode=0644
