- hosts: 'tag_Name_{{ app_name }}-{{ env_name }}-collector'
  sudo: yes
  remote_user: '{{ remote_user }}'
  vars:
      db_group: 'tag_Name_{{ app_name }}-{{ env_name }}-database'
      db_host: '{{ groups[db_group][0] }}'

      knowledge_group: 'tag_Name_{{ app_name }}-{{ env_name }}-knowledge'
      knowledge_host: '{{ hostvars[groups[knowledge_group][0]].ec2_private_dns_name }}'

      # For now, the collector is also the broker.
      broker_host: 'localhost'
  roles:
      - common
      - app
      - broker
      - worker
      - collector
